<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <style>
        nav {
          background-color: #333;
          height: 60px;
          width: 100%;
        }
        
        nav ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 100%;
        }
        
        nav li {
          height: 100%;
        }
        
        nav li a {
          color: white;
          display: block;
          padding: 0 20px;
          height: 100%;
          line-height: 60px;
          text-decoration: none;
          font-weight: bold;
          text-transform: uppercase;
          transition: background-color 0.2s ease;
        }
        
        nav li a:hover {
          background-color: #555;
        }
      </style>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    {% if request.user.is_authenticated %}
    <li class="nav-item mx-2">
        <a href="{% url 'logout' %}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item mx-2">
        <a href="{% url 'register' %}">Register</a>
    </li>
    <li class="nav-item mx-2">
        <a href="{% url 'login_with_otp' %}">Login</a>
    </li>
    {% endif %}
</body>
</html>