<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <style>
        /* CSS styles */
        body {
          font-family: Arial, sans-serif;
          background-color: #f2f2f2;
        }
  
        form {
          background-color: #fff;
          padding: 20px;
          border-radius: 5px;
          width: 300px;
          margin: 0 auto;
          margin-top: 50px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
  
        h1 {
          text-align: center;
          color: #333;
        }
  
        label {
          display: block;
          margin-bottom: 10px;
          color: #666;
        }
  
        input[type="text"],
        input[type="password"],
        input[type="email"] {
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          border: none;
          margin-bottom: 20px;
          box-sizing: border-box;
          border: 1px solid #ccc;
        }
  
        input[type="submit"] {
          background-color: #333;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
  
        input[type="submit"]:hover {
          background-color: #555;
        }
        p{
            text-align : center;

        }
      </style>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
        <label for="email">Email:</label>
        <input type="email" name="email" required><br>
        <br>
        <button type="submit">Register</button>
    </form>
    <p><a href="{% url 'home' %}">Back to Home</a></p>
</body>
</html>
